.content{
    position:fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background:  linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255, 254, 254, 0.1)), url('https://wallpapercave.com/wp/wp9195811.jpg');
   
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: bgg;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
    
}
.navbar{
    padding-top: 0;
   
}


.dropdown-menu li a:hover{
    background-color: black;
    color: white;
}
.nav-item a:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
}
.nav-item a{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
@keyframes bgg{
    0%{ opacity: 0.5;}
    50%{opacity: 1;}
    100%{opacity: 0.5;}

}
.container-fluid{
    
    background-color: #f5f5f5;
    animation-name: bg;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes bg {
 0%{background-image: url(https://r4.wallpaperflare.com/wallpaper/828/296/58/harry-potter-hogwarts-castle-wallpaper-0910e81d614a3deb16a7d82f9011f61d.jpg);background-size: cover;opacity: 1; text-shadow: 3px 3px 3px white;}
 100%{background-image: url(https://r4.wallpaperflare.com/wallpaper/828/296/58/harry-potter-hogwarts-castle-wallpaper-0910e81d614a3deb16a7d82f9011f61d.jpg);background-size: cover;opacity: 1;}

}
*{
    font-family: 'Merriweather', serif;
    margin:0;
    padding:0;
    
    
}

.snowflakes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    animation: snowAnimation linear infinite;
  }
  .snowflake {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: fall linear infinite;
  }
  
  @keyframes snowAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100vh);
    }
  }
  
  @keyframes fall {
    0% {
      transform: translateY(-10vh);
    }
    100% {
      transform: translateY(110vh);
    }
  }




.carousel-inner img{
height: 350px;
width: 700px;
border-radius: 10px;
}
.carousel slide{
    height: 500px;
    width: 600px;

}
.sec-left{
    color: #f5f5f5;
    
    text-shadow: 2px 2px 2px black;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;  
}

.first-foot{
    
    color: #f5f5f5;
    background-color:black;
    padding-left: 20px;
    padding-top: 100px;
    
}
.sec-foot{

    background-color: black;
    padding-top: 100px;
}
.sec-foot tr{
    color: white;
}
.head-icon{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}
.head-icon img{
    border-radius: 10px;
    background: black;
    margin: 20px;  
    transition: 1s;
    transform: 3s;
    
}



.head-icon img:hover{
    border: 5px solid white;
    width: 220px;
    height: 220px;
    
}

.det{
    background: url('file:///C:/Users/Vasanth/Downloads/377713.png');  
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    margin: 30px;
}
.de{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:13px;
    color: #f5f5f5;
    
    text-shadow: 1px 1px 1px black;
}
.det img{
    
    height: 230px;
    width: 150px;
    margin: 20px;
    animation-name: hagrid;
    animation-duration: 3s;
    animation-iteration-count: infinite
    
}
 /* @keyframes hagrid{
    0%{background: url('file:///C:/Users/Vasanth/Downloads/XOsX.gif');border-radius: 50%;opacity: 1;}
    10%{background: url('file:///C:/Users/Vasanth/Downloads/XOsX.gif');border-radius: 50%;opacity: 0.3;}
   
    30%{background: url('file:///C:/Users/Vasanth/Downloads/XOsX.gif');border-radius: 50%;opacity: 0.7;}
    
    50%{background: url('file:///C:/Users/Vasanth/Downloads/XOsX.gif');border-radius: 50%;opacity: 1;}
    60%{border-radius: 50%;opacity: 0.8;background: url('file:///C:/Users/Vasanth/Downloads/XOsX.gif')}
    70%{border-radius: 50%;opacity: 0.5;background: url('file:///C:/Users/Vasanth/Downloads/XOsX.gif')}
    80%{border-radius: 50%;opacity: 0.3;background: url('file:///C:/Users/Vasanth/Downloads/XOsX.gif')}
    100%{border-radius: 50%;opacity: 1;background: url('file:///C:/Users/Vasanth/Downloads/XOsX.gif')}
}   */



.magic-shop{
    background: url(https://wallpapercave.com/wp/wp11946198.jpg);
    background-attachment: fixed;
    background-size: cover;
    height:100vh;
    border: 5px solid black;
}
.mhead h1{
    font-size: 30px;
    margin-top: 20px;
    padding: 10px;
    text-decoration: underline;
    text-shadow: 5px 5px 5px white;
    background: rgb(3, 1, 1,0.3) ;
    border-radius: 10px;
    color: gold;
    animation-name: oli; 
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes oli{
    0%{color:gold;opacity:0.7;}
    50%{color: gold;opacity: 1;}
    100%{color: gold;opacity: 0.7;}

    0%{background: black;opacity: 0.5;}
    50%{background: black;opacity: 1;}
    100%{color: black;opacity: 0.5;}
}
.mhead p{
    color: white;
    padding: 10px;
    border-radius: 10px;
    background: black ;
}
.mhead cite{
    color: white;
    background: black ;
    padding: 10px;
    border-radius: 10px;
}
.mhead{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    background:linear-gradient(rgba(2,2,2,0.7),rgba(255,255,255,0.2)), url(https://wallpapercave.com/wp/wp2410323.jpg);
    background-size: fill;
    height: 400px;
    width: 100%;
    border-radius: 20px;
}
.card-header{
    background-color:rgba(255, 0, 0,0.6);
    border-radius: 50px;
    color: #f5f5f5;
}
.card-body{
    color: blanchedalmond;
    font-size:13px;
    height: 150px;
    text-shadow: 2px 2px 2px  black;
}
.card-footer{
    background-color:rgba(255, 0, 0,0.9); 
    color: #f5f5f5;  
}

.product{
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card1{
    width: 220px;
    border: 5px solid ghostwhite;
    background: linear-gradient(black,black);
    border-radius: 20px;
    color: #f5f5f5;
    margin: 10px;

}
.card1 button{
border-radius: 10px;
padding: 10px;
width: 150px;
background-color: dodgerblue;

}

.card1 button:hover{
    border-color: red;
    background-color:  rgba(139, 118, 156,0.6);
    color: black;
}
.card1 button:active{
    background-color: white;
}
.card1 img:nth-child(4){
opacity: 1;
}
.card1 img:nth-child(4):hover{
    opacity: 0.3;
    cursor: pointer;
    border-radius: 50%;
    }
    .card1 img:nth-child(4):active{
        border: 2px solid white;
        opacity: 1;
        padding: 2px;
    }
.foot-last{
    background-color: black;
    
    padding-left: 40px;
}

.foot-last img{
margin-right: 10px;
margin-bottom: 20px;
border-radius: 50%;
transition: 2s;

}
.foot-last img:hover{
    height:30px ;
    width: 30px;
}
.footers{
    clear: left;
}



.magic-page{
    background-image: url(https://images2.alphacoders.com/126/1267184.jpg) ;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;   
   
    

}
.magic-page-in{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    height: 85%;
    align-items: center;
    background:rgb(0, 0, 0,0.4) ;border: 5px solid black" 
    
    
}

.magic-page-in button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    color: #f5f5f5;
    background:linear-gradient(to bottom, #050455, #046bc0, #4d0099);
}
.magi{
    display: flex;
    
    justify-content: center;
    
    align-items: center;
    
}
.magi2 p{
    text-wrap: wrap
}
.magi2{
    padding: 10px;
    color: #f5f5f5;
}
.mh1{
    color: black;background:rgb(255, 255, 255,0.5) ;text-align: center;text-shadow: 2px 2px 2px black;
    padding: 20px;
}
.mh2{
    font-size: 30px;margin: 50px;color: white;text-shadow: 2px 2px 2px black;
}
.sec-left2 h1{
    text-shadow: 10px 10px 5px black;
}



.sec-left2 img{
width: 450px;
height: 650px;
border-radius: 20px;
margin: 20px;

}
.sec-left2 div{
    margin: 10px;
}
.sec-left2 .just1 img {
    float: left;
}
.sec-left2 .just2{
    clear: left;
}
.sec-left2 .just2 img{
    float: left;
}
.sec-left2 .just3{
    clear: left;
}
.sec-left2 .just3 img{
    float: left;
}
.sec-left2 .just4{
    clear: left;
}
.sec-left2 .just4 img{
    float: left;
}
.sec-left2 p,h1{
    color: white;
}






@media (min-width:400px) {
    .second{
        width: 900px;
        height: 500px;
        margin-right: 20px;
    }   
    .sec-end{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    .carousel-inner img{
        height:500px;
        border-radius: 10px;
        }
        .sec-left{
            color: #f5f5f5;
            
        
            text-shadow: 2px 2px 2px black;
            border-radius: 20px;
           
        
        }
        .footers{
            display: flex;
            
            background-color:black;

            
        }
        .first-foot{
            width: 30%;
            color: #f5f5f5;
            background-color:black;
            padding-left: 20px;
            padding-top: 100px;
            
        }
        .sec-foot{
            width: 70%;
            background-color:black;
            padding-top: 100px;
            padding-bottom: 50px;
        }
        .sec-foot tr{
            color: white;
        }
        .det{
            background: 
            url('file:///C:/Users/Vasanth/Downloads/377713.png');
            
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: scroll;
            display: flex;
            margin: 30px;
            border-radius: 20px;
            
        }
        .de{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size:13px;
            color: #f5f5f5;
            text-shadow: 1px 1px 1px black;
            width: 400px;
            padding: 15px;
            animation: viral;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            border-radius: 20px;
            
        }
@keyframes viral {
    0%{width: 500px;background-color: #050455;opacity: 0.5;border-radius: 50% 10% 50% 10%;}
    50%{width: 1000px;background-color: #FF3399;opacity: 1;border-radius: 20px;}
    100%{width: 500px;background-color: #050455;opacity: 0.5;border-radius: 50% 10% 50% 10%;}
    
}

        .det img{
            height: 400px;
            width: 250px;
            margin: 20px;
            
        }
        





        
.magic-shop{
    background: url(https://wallpapercave.com/wp/wp11946198.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 700px;
}
.mhead h1{
    font-size: 50px;
    padding: 10px;
    text-decoration: underline;
    text-shadow: 5px 5px 5px white;
    background: rgb(3, 1, 1,0.3) ;
    border-radius: 10px;
    color: gold;
    animation-name: oli; 
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


.carding{
    display: flex;
    justify-content: center;
}

.card{
    background:linear-gradient(rgba(2,2,2,0.7),rgba(255,255,255,0.2)), url(https://wallpapercave.com/wp/wp2410323.jpg);
    background-size: fill;
   border: 10px solid green;
   
    width: 700px;
    margin: 10px;
    border-radius: 20px;
}
.card-header{
    background-color:rgba(255, 0, 0,0.6);
    border-radius: 50px;
    color: #f5f5f5;
    
}
.card-body{
    color: blanchedalmond;
    text-shadow: 2px 2px 2px  black;
    
}
.card-footer{
    background-color:rgba(255, 0, 0,0.9); 
    color: #f5f5f5;  
}


.mh2{
    font-size: 50px;margin: 50px;color: white;text-shadow: 2px 2px 2px black;
}
.magi2{
    padding: 10px;
    
    text-wrap: wrap;
}
.sec-left2 p{
    color: white;
    font-size: larger;

}
.sec-left2{
    padding-top: 20px;
}

    }
  




